
@page "/counter"

<PageTitle>Counter</PageTitle>

<p>Current count: @currentCount</p>

<button @onclick="IncrementCount">Increment Count</button>
<button @onclick="DecrementCount">Decrement Count</button>
<button @onclick="ResetCount">Reset Count</button>
@code {
    [Parameter]
    public int Value { get; set; } = 1;
    
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount += Value;
    }
    private void DecrementCount() {
        currentCount -= Value;
    }
     private void ResetCount() {
        currentCount = 0;
    }

}
